<footer>
  <div class="py-6 bg-gray-200 text-muted">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <div
            class="font-weight-bold text-uppercase text-dark mb-3 font-weight-bolder footer-category"
          >
            Social media
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a
                class="text-muted text-hover-primary"
                target="_blank"
                title="twitter"
                ><i class="fab fa-twitter" style="color: #1da1f2"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                class="text-muted text-hover-primary"
                target="_blank"
                title="facebook"
                ><i class="fab fa-facebook" style="color: #4267b2"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                class="text-muted text-hover-primary"
                target="_blank"
                title="instagram"
                ><i class="fab fa-instagram" style="color: #c13584"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                class="text-muted text-hover-primary"
                target="_blank"
                title="pinterest"
                ><i class="fab fa-pinterest" style="color: #e60023"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                class="text-muted text-hover-primary"
                target="_blank"
                title="vimeo"
                ><i class="fab fa-vimeo" style="color: #19b7ea"></i
              ></a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
          <h6
            class="text-uppercase text-dark mb-3 font-weight-bolder footer-category"
          >
            Pages
          </h6>
          <ul class="list-unstyled">
            <li><a class="text-muted">Comparison </a></li>
            <li><a class="text-muted">Team </a></li>
            <li><a class="text-muted">Contact </a></li>
          </ul>
        </div>
        <div class="col-lg-5">
          <h6
            class="text-uppercase text-dark mb-3 font-weight-bolder footer-category"
          >
            Weather
          </h6>
          <p class="mb-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque
            temporibus.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
