.nav-link {
  color: rgb(139, 0, 0) !important;
  font-weight: bold;
  &:hover {
    color: rgb(58, 6, 6) !important;
  }
}

.nav-list {
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

.header-section {
  justify-content: center;
  display: flex;
  width: 100%;
}

.main-title {
  color: rgb(0, 0, 0);
  opacity: 1;
  font-size: 900;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: all ease-in 0.3s;
  }
}

a {
  color: #000;
  text-decoration: none;
  opacity: 1;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: all ease-in 0.3s;
  }
}



.weather-navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: transparent;
}

@media (max-width: 991px) {
  .home-locations {
    flex-direction: column;
    align-items: center;
  }
  .nav-list {
    justify-content: flex-end;
  }

  .navbar-toggler {
    background-color: #fff;
  }

  #navbarCollapse {
    z-index: 10;
  }

  .weather-navbar {
    padding-bottom: 33px !important;
  }
}

@media (min-width: 991px) {
  .locations-tab {
    position: absolute;
    top: 10px;
    right: 40px;
  }
}
