<nav class="navbar navbar-expand-lg fixed-top navbar-light weather-navbar">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="header-section">
        <h1 class="main-title" (click)="redirectToHomepage()">WEATHER</h1>
        <a routerLink="/locations" class="locations-tab">Locations</a>
      </div>
    </div>
  </div>
</nav>
