.all-locations-title {
  font-weight: bolder;
}

.check-out-cities {
  margin-top: 25px;
  text-transform: uppercase;
  color: #e83e8c;
  font-weight: bolder;
}

.locations-section {
  margin-bottom: 3rem;
  padding-top: 71px;
}
