<div class="container-fluid location-single-container">
  <div class="row location-single-row">
    <div class="col-lg-6 left-section">
      <h1 class="location-title">{{ location?.name }}</h1>
      <a
        href="https://www.google.com/maps/@{{
          this.location.coordinates.lat
        }},{{ this.location.coordinates.lon }},10z"
        target="_blank"
        ><i class="far fa-eye"></i> View on Google Maps</a
      >
      <div class="row weather-info">
        <div
          class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 weather-characteristic"
        >
          <div class="card weather-card">
            <div class="card-body">
              <i
                class="fas fa-map-marker-alt"
                style="font-size: 30px; margin-right: 15px"
              ></i>
              <div>
                <h5 class="card-title">Latitude</h5>
                <p class="card-text">{{ location?.coordinates.lat }}°</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 weather-characteristic"
        >
          <div class="card weather-card">
            <div class="card-body">
              <i
                class="fas fa-map-marked-alt"
                style="font-size: 30px; margin-right: 15px"
              ></i>
              <div>
                <h5 class="card-title">Longitude</h5>
                <p class="card-text">{{ location?.coordinates.lon }}°</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row weather-info">
        <div class="col-xl-12">
          <div class="card other-info-card">
            <div class="card-body">
              <ul>
                <li>
                  <span><i class="fas fa-wind"></i> Wind speed</span>
                  <span>{{ location?.wind_speed }} km/h</span>
                </li>
                <li>
                  <span
                    ><i class="fas fa-thermometer-half thermo"></i>
                    Temperature</span
                  >
                  <span>{{ location?.temp }}°C</span>
                </li>
                <li>
                  <span
                    ><i class="fas fa-thermometer-empty thermo"></i> Minimum
                    temperature</span
                  >
                  <span>{{ location?.temp_min }}°C</span>
                </li>
                <li>
                  <span
                    ><i class="fas fa-thermometer-full thermo"></i> Maximum
                    temperature</span
                  >
                  <span>{{ location?.temp_max }}°C</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 google-map">
      <google-map height="100%" width="100%" [center]="center" [zoom]="zoom">
        <map-marker [position]="center"> </map-marker>
      </google-map>
    </div>
  </div>
</div>
