<div class="container-fluid location-single-container">
  <div class="row location-single-row">
    <div class="col-lg-6 left-section">
      <h1 class="location-title">{{ location?.name }}</h1>

      <div class="row weather-info">
        <div class="col-xl-4 weather-characteristic">
          <h4>{{ location?.coordinates.lon }}°</h4>
          <span class="weather-info-single"><strong>Longitude</strong> </span>
        </div>
        <div class="col-xl-4 weather-characteristic">
          <h4>{{ location?.temp_min }}°C</h4>
          <span class="weather-info-single"
            ><strong>Minimum temperature</strong>
          </span>
        </div>
        <div class="col-xl-4 weather-characteristic">
          <h4>{{ location?.coordinates.lat }}°</h4>
          <span class="weather-info-single"><strong>Latitude</strong> </span>
        </div>
      </div>
      <div class="row weather-info">
        <div class="col-xl-4 weather-characteristic">
          <h4>{{ location?.temp }}°C</h4>
          <span class="weather-info-single"><strong>Temperature</strong> </span>
        </div>
        <div class="col-xl-4 weather-characteristic">
          <h4>{{ location?.wind_speed }} km/h</h4>
          <span class="weather-info-single"
            ><strong>Wind intensity</strong>
          </span>
        </div>
        <div class="col-xl-4 weather-characteristic">
          <h4>{{ location?.temp_max }}°C</h4>
          <span class="weather-info-single"
            ><strong>Maximum temperature</strong>
          </span>
        </div>
      </div>
    
    </div>
    <div class="col-lg-6 google-map">
      <google-map height="100%" width="100%" [center]="center" [zoom]="zoom">
        <map-marker [position]="center"> </map-marker>
      </google-map>
    </div>
  </div>
</div>
