.location-single-container {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  padding-top: 100px;
}

.location-single-row {
  height: 100%;
}

.left-section {
  padding: 3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: inherit;
}

.location-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: min-content;
  width: 100%;
  padding-bottom: 1.5rem;
  font-weight: bolder;
  color: #4e66f8;
}

.google-map {
  margin-bottom: 3rem;
}

.weather-info {
  width: 100%;
}

.weather-characteristic {
  display: flex;
  flex-direction: column;
}

.weather-info-single {
  color: #868e96;
}

.weather-card {
  border-radius: 0.65rem;
  background-color: #f1416c;
  color: #f3f3f3;
  height: 150px;
}

.other-info-card {
  border-radius: 0.65rem;
  background-color: #00a3ff;
  color: darkslategray;
}

.card-body {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

ul {
  list-style-type: none;
  width: 100%;
  line-height: 45px;

  li {
    display: flex;
    justify-content: space-between;
    font-size: 1.15rem;
  }
}

.thermo {
  color: rgb(139, 0, 0);
}

.fa-wind {
  color: #f3f3f3;
}

@media (min-width: 992px) {
  .google-map {
    margin-bottom: 0;
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .location-single-container {
    height: 1150px;
  }
}

@media (max-width: 1200px) {
  .weather-card {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  li {
    flex-direction: column;
  }

  .google-map {
    height: 100px;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 0;
    line-height: 35px;
  }

  .fas {
    display: none;
  }
}
