<div class="card location-card" (click)="redirectToLocationSingle()">
  <img class="location-image" [src]="location?.image" alt="Card image" />
  <div class="card-info">
    <h5 class="card-title">{{ location?.name }}</h5>
    <div class="temp-wind">
      <p class="card-text temperature">
        <i class="fas fa-thermometer-three-quarters"></i>
        {{ location?.temp | number: "1.0-0" }}°
      </p>
      <p class="wind">
        <i class="fas fa-wind"></i> {{ location?.wind_speed }} km/h
      </p>
    </div>
  </div>
</div>
